#nuts {
    color: black;
}
.secionBienvenida{
    display: flex;
    background-color: red;
    margin-right: 30%;
    text-align: center;
    margin-left: 2rem;
}
.comandoJs{
    margin: 40px;

}
.abonos2023{
    margin-left: 2rem;
    margin-right: 2rem;
}
.contenido{
    display: flex;
    margin: 20px;
}
.cancha{
    margin-left: 50px;
}
.tituloAbonos{
    display: flex;
    margin-left: 2rem;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}